
.roboto-mono body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* .lexend-tera-<uniquifier> {
  font-family: "Lexend Tera", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
} */


body {
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #b4ccd4;
  color: white;
}

.present {
  background-color: #d09cc0;
  color: white;
}

.future {
  background-color: #8bca8b;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#container {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bottom {
  padding-top: 20px;
  padding: 40px;
  text-align: center;
};

.line-above {
  border: none; 
  border-top: 20px solid #4d0336;
  width: 75%;
  margin: auto;
};